.page {
  background-color: #000;
  font-family: 'Inter', 'Arial', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: content-box;
}

.header {
  width: 100%;
  max-width: 880px;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 45px 10px 0;
}

.header__section {
  display: flex;
  flex-direction: column;
  margin-bottom: 37px;
}

.header__logo {
  width: 142px;
  height: 33px;
  margin-bottom: 41px;
}

.header__line {
  border: 1px solid #545454;
}

.content {
  width: 100%;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0;
}

.profile {
  font-family: 'Inter', 'Arial', sans-serif;
  color: white;
  width: 100%;
  max-width: 880px;
  margin: 0 auto;
  padding: 0 10px 0;
}

.profile__section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 51px;
}

.profile__avatar {
  width: 120px;
  margin-right: 30px;
}

.profile__info {
  display: grid;
  grid-template-columns: minmax(300px, auto) 25px;
  align-items: center;
  margin-right: auto;
  flex-wrap: wrap;
  min-width: 336px;
}

.profile__title {
  font-size: 42px;
  line-height: 1.14;
  margin: 4px 18px 8px 0;
  font-weight: 500;
  padding: 0;
}

.profile__edit-button {
  background: center url(./images/edit-button.svg);
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: 1px solid #FFFFFF;
}

.profile__subtitle {
  font-size: 18px;
  line-height: 1.22;
  margin: 0;
  padding: 0;
}

.profile__add-button {
  background: no-repeat center url('./images/add-button.svg');
  width: 150px;
  height: 50px;
  background-color: transparent;
  border: 2px solid #FFFFFF;
}
