.page {
  background-color: #000;
  font-family: 'Inter', 'Arial', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: content-box;
}

.header {
  width: 100%;
  max-width: 880px;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 45px 10px 0;
}

.header__section {
  display: flex;
  flex-direction: column;
  margin-bottom: 37px;
}

.header__logo {
  width: 142px;
  height: 33px;
  margin-bottom: 41px;
}

.header__line {
  border: 1px solid #545454;
}

.content {
  width: 100%;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0;
}

.profile {
  font-family: 'Inter', 'Arial', sans-serif;
  color: white;
  width: 100%;
  max-width: 880px;
  margin: 0 auto;
  padding: 0 10px 0;
  box-sizing: content-box;
}

.profile__section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 51px;
}

.profile__avatar {
  width: 120px;
  margin-right: 30px;
}

.profile__info {
  display: grid;
  grid-template-columns: minmax(300px, auto) 25px;
  align-items: center;
  margin-right: auto;
  flex-wrap: wrap;
  min-width: 336px;
}

.profile__title {
  font-size: 42px;
  line-height: 1.14;
  margin: 4px 18px 8px 0;
  font-weight: 500;
  padding: 0;
}

.profile__edit-button {
  background: center url(./images/edit-button.svg) transparent;
  width: 24px;
  height: 24px;
  border: 1px solid #FFFFFF;
  cursor: pointer;
  padding: 0;
}

.profile__subtitle {
  font-size: 18px;
  line-height: 1.22;
  margin: 0;
  padding: 0;
}

.profile__add-button {
  background: no-repeat center url('./images/add-button.svg') transparent;
  width: 150px;
  height: 50px;
  border: 2px solid #FFFFFF;
  cursor: pointer;
  padding: 0;
}

.elements {
  max-width: 880px;
  margin: 0 auto;
  padding: 0;
  box-sizing: content-box;
}

.elements__list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 17px;
  /* grid-template-rows: ; */
  margin-bottom: 66px;
}

.element {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  background: white;
  width: 282px;
  height: 361px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}

.element__image {
  width: 100%;
  height: 78%;
}

.element__section {
  width: 85%;
  max-width: 246px;
  height: calc(100% - 282px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.element__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
  color: #000000;
}

.element__like-button {
  background: no-repeat url('./images/like-button.svg') transparent;
  width: 22px;
  height: 19px;
  border: none;
}

