/* Позиционируйте попап фиксированно по центру экрана и задайте попапу полупрозрачный чёрный фон.
Внутри него расположите само окно с формой popup__container, спозиционированное по центру. Цитата из задания. Флекс или грид не упоминается.
В вебинаре от Романа Соколова выравнивание блока .popup__container указано таким же образом.*/
.popup__container {
  position: relative;
  margin: 0 auto;
  top: 195px;
  display: flex;
  flex-direction: column;
  padding: 35px 36px;
  background-color: white;
  color: black;
  width: 49%;
  min-width: 282px;
  max-width: 430px;
  min-height: 330px;
  border-radius: 10px;
  border: none;
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 619px) {
  .popup__container {
    top: 123px;
    width: 90%;
    max-width: 282px;
    padding: 26px 22px;
    min-height: 322px;
  }
}
