.element__like-button {
  background: no-repeat url('../../../../images/element-like-button.svg') transparent;
  width: 22px;
  height: 19px;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.element__like-button:hover {
  opacity: 0.6;
}

.element__like-button:active {
  background: no-repeat url('../../../../images/element-like-button-active.svg');
}
