.profile__section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 51px;
}

@media screen and (max-width: 918px) {
  .profile__section {
    padding: 0 29px;
  }
}

@media screen and (max-width: 619px) {
  .profile__section {
    flex-direction: column;
    padding: 0 19px;
    margin-bottom: 37px;
  }
}
